<!DOCTYPE html>
<!-- <html ng-app="sglobally"> -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Video Global News</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/html5.js"></script>
<script type='text/javascript' src='/js/jquery-1.7.1.min.js'></script>
</head>

<body>
<div class="topbar">
  <div class="container">
    <ul class="topnav">
      <li><a href="#" title="Home">Home</a></li>
      <li><a href="#" title="About Us">About Us</a></li>
      <li><a href="#" title="Contact Us">Contact Us</a></li>
    </ul>
    <span class="clear"></span> </div>
</div>
<!-- topbar end -->
<header>
  <div class="container"> <a href="/" title="Video Global News" class="logo"><img src="images/logo.png" alt=""></a>
    <div class="topbanner"> <img src="images/topbanner.jpg" alt=""></div>
    <span class="clear"></span> </div>
</header>
<!-- header end -->
<div class="maintop">
  <div class="container">
    <div class="bannersection">
      <div class="slideshow"> <img src="images/bannerimg.jpg" alt="" />
        <div class="slideshow-title">
          <h2>Southern California hospital evacuated after fire</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        </div>
      </div>
      <!-- slideshow end --> 
      <span class="clear"></span> </div>
  </div>
</div>
<!-- maintop end -->

<div class="mainbody videobelow">
  <div class="container">
    <aside class="leftcontent">
      <div class="module">
        <div class="module-title">Popular Videos</div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602dd6b"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T194518Z_1_LOVEB0S1IVHVI_RTRMADP_THUMBNAIL-160X90_USA-ESPIONAGE-LOSALAMOS-ROUGH-CUT-O.JPG" alt="Surveillance video shows ex-Los Alamos scientist who was sentenced in nuclear espionage case"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:01:42</span> </div>
          <div class="description">Surveillance video shows ex-Los Alamos scientist ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602cec4"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T180543Z_1_LOVEB0S1E9IS6_RTRMADP_THUMBNAIL-160X90_USA-WEATHER-MASSACHUSETTS-DAMAGE-O.JPG" alt="Massachusetts coastal towns dust off after blizzard"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:33</span> </div>
          <div class="description">Massachusetts coastal towns dust off after blizz ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602bff0"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T174543Z_1_LOVEB0S1DC6VU_RTRMADP_THUMBNAIL-160X90_CUBA-USA-TRAVEL-ROUGH-CUT-O.JPG" alt="U.S. Senators urge repeal of Cuba travel ban"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:01:58</span> </div>
          <div class="description">U.S. Senators urge repeal of Cuba travel ban ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602a917"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T142931Z_1_LOVEB0S1496P0_RTRMADP_THUMBNAIL-160X90_USA-CALIFORNIA-BODYPARTS-O.JPG" alt="San Francisco police find body parts in suitcase"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:47</span> </div>
          <div class="description">San Francisco police find body parts in suitcase ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b2938300366027ee4"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T124512Z_1_LOVEB0S0ZFBOI_RTRMADP_THUMBNAIL-160X90_USA-CALIFORNIA-FIRE-ROUGH-CUT-O.JPG" alt="At least one dead, six injured in San Francisco blaze"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:39</span> </div>
          <div class="description">At least one dead, six injured in San Francisco  ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b2938300366027166"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T090423Z_1_LOVEB0S0P7AMR_RTRMADP_THUMBNAIL-160X90_USA-FLORIDA-CAT-O.JPG" alt="Zombie or miracle, Florida cat claws his way back from the dead"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:41</span> </div>
          <div class="description">Zombie or miracle, Florida cat claws his way bac ...</div>
        </div>
        
        <!-- video end --> 
        <span class="clear"></span>
        <div class="row pullright"> <a href="/more_videos?c=by_id_title_desc_thumb_date&p=1" class="more">Find More Videos</a> </div>
      </div>
      <!-- Popular Videos module end -->
      
      <div class="module">
        <div class="module-title">More Videos</div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602dd6b"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T194518Z_1_LOVEB0S1IVHVI_RTRMADP_THUMBNAIL-160X90_USA-ESPIONAGE-LOSALAMOS-ROUGH-CUT-O.JPG" alt="Surveillance video shows ex-Los Alamos scientist who was sentenced in nuclear espionage case"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:01:42</span> </div>
          <div class="description">Surveillance video shows ex-Los Alamos scientist ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602cec4"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T180543Z_1_LOVEB0S1E9IS6_RTRMADP_THUMBNAIL-160X90_USA-WEATHER-MASSACHUSETTS-DAMAGE-O.JPG" alt="Massachusetts coastal towns dust off after blizzard"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:33</span> </div>
          <div class="description">Massachusetts coastal towns dust off after blizz ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602bff0"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T174543Z_1_LOVEB0S1DC6VU_RTRMADP_THUMBNAIL-160X90_CUBA-USA-TRAVEL-ROUGH-CUT-O.JPG" alt="U.S. Senators urge repeal of Cuba travel ban"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:01:58</span> </div>
          <div class="description">U.S. Senators urge repeal of Cuba travel ban ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602a917"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T142931Z_1_LOVEB0S1496P0_RTRMADP_THUMBNAIL-160X90_USA-CALIFORNIA-BODYPARTS-O.JPG" alt="San Francisco police find body parts in suitcase"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:47</span> </div>
          <div class="description">San Francisco police find body parts in suitcase ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b2938300366027ee4"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T124512Z_1_LOVEB0S0ZFBOI_RTRMADP_THUMBNAIL-160X90_USA-CALIFORNIA-FIRE-ROUGH-CUT-O.JPG" alt="At least one dead, six injured in San Francisco blaze"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:39</span> </div>
          <div class="description">At least one dead, six injured in San Francisco  ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b2938300366027166"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T090423Z_1_LOVEB0S0P7AMR_RTRMADP_THUMBNAIL-160X90_USA-FLORIDA-CAT-O.JPG" alt="Zombie or miracle, Florida cat claws his way back from the dead"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:00:41</span> </div>
          <div class="description">Zombie or miracle, Florida cat claws his way bac ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b293830036602621b"> <img src="http://newscdn.lycos.com/thumb_2015-01-29T003430Z_1_LOVEB0S01LHML_RTRMADP_THUMBNAIL-160X90_USA-OBAMA-HAGEL-FAREWELL-ROUGH-CUT-O.JPG" alt="Outgoing U.S. Defense Secretary Hagel lauded at farewell ceremony"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 29 2015</span> <span class="right">00:01:37</span> </div>
          <div class="description">Outgoing U.S. Defense Secretary Hagel lauded at  ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b29383003660255b2"> <img src="http://newscdn.lycos.com/thumb_2015-01-28T231042Z_1_LOVEB0R1SDTM3_RTRMADP_THUMBNAIL-160X90_AIRFORCE-BOEING-AIRFORCE-ONE-O.JPG" alt="Boeing 747-8 picked to replace Air Force One - sources"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 28 2015</span> <span class="right">00:00:35</span> </div>
          <div class="description">Boeing 747-8 picked to replace Air Force One - s ...</div>
        </div>
        <div class="span3">
          <div class="video"> <a href="/video?id=1fdc7c45bcb41d7b2938300366024dfb"> <img src="http://newscdn.lycos.com/thumb_2015-01-28T214939Z_1_LOVEB0R1OMQL6_RTRMADP_THUMBNAIL-160X90_USA-WHITEHOUSE-FIRST-LADY-ROUGH-CUT-O.JPG" alt="White House defends first lady's attire in Saudi Arabia"> <span class="videotext"></span> </div>
          <div class="video-date"> <span class="left">Jan 28 2015</span> <span class="right">00:00:53</span> </div>
          <div class="description">White House defends first lady's attire in Saudi ...</div>
        </div>
        
        <!-- video end --> 
        <span class="clear"></span>
        <div class="row pullright"> <a href="/more_videos?c=by_id_title_desc_thumb_date&p=1" class="more">Find More Videos</a> </div>
      </div>
      <!-- Popular Videos module end --> 
      
    </aside>
    <aside class="sidebar">
      <div class="rightad margin10_T"> <img src="images/right-ad1.jpg" alt=""></div>
      <div class="module-title">Twitter On The Global News</div>
      <div class="twitterAdd"> <img src="images/twitterad.jpg" alt="" /></div>
      <div class="rightad margin10_T"> <img src="images/right-ad1.jpg" alt=""></div>
      <span class="clear"></span> </aside>
    <!-- sidebar end --> 
    
    <span class="clear"></span>
    <div class="bottom">
      <div class="ad1"> <img src="images/ad1.jpg" width="726" height="88" alt=""></div>
    </div>
  </div>
</div>
<!-- mainbody end -->

<footer>
  <div class="container">
    <summary>
      <p>Copyright &copy; 2015 Newsvideos. All rights reserved. <a href="/terms">Terms and Conditions</a> | <a href="/privacy">Privacy Policy</a></p>
    </summary>
    <div class="social"> <span><a href="#"><img src="images/twitter.png" /></a></span> <span><a href="#"><img src="images/facebook.png" /></a></span> <span><a href="#"><img src="images/in.png" /></a></span> </div>
    <span class="clear"></span> </div>
  <!-- container end --> 
</footer>
<!-- footer end -->
</body>
</html>